.loadingScreen{
    height: 100vh;
}

.loading{
    animation-name: App-logo-spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    text-align: center;
    width: 5%;
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 5rem;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } 
  