@import './variables.css';

.headerContainer {
  height: 11vh;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 var(--navy-shadow);
}

.gitHubLogoContainer{
  margin-top: 1%;
  margin-left: 2%;
}

.gitHubLogo {
  height: 100%;
  text-align: center;
  font-size: var(--fz-xl);
  color: var(--lightest-slate);
  transition: .5s;
}

.gitHubLogo:hover {
  color: var(--green);
  transition: .5s;
}

.formContainer{
  margin-right: 5%;
  margin-top: .5%;
  position: relative;
}

.searchBar {
  height: 2vh;
  margin-top: 3%;
  border-radius: 80px;
  font-size: 1rem;
  padding: 4%;
  width: 20vw;
  font-family: var(--font-sans);
}

.errorMessage{
  color: red;
  margin: 1%;
  margin-left: 5%;
}


@media screen and (max-width: 850px) {
  .searchBar {
    width: 40vw;
    padding: 3%;
  }
}
