.reposContainer{
    margin-top: 7%;
}

.repoContainer{
    border-top: 1px solid var(--tint);
    margin-left: 2vw;
    height: 20%;
    padding: 2%;
    width: 55vw;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.leftSideContainer{
    height: 12vh;
}

.leftSideContent{
    margin-top: 2vh;
}

.repoDescription{
    display: inline-block;
    max-width: 70ch;
    font-family: var(--font-mono);
}

.descriptionContainer{
    text-align: center;
}

.showDescriptionButtonContainer{
    position: absolute;
    left: 50%;
    top: 75%;
}

.showDescriptionButton{
    color: var(--dark-slate);
    font-size: var(--fz-sm);
    cursor: pointer;

}

.fa-star:hover{
    animation-name: star-spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.fa-code-fork{
    padding-left: 2px;
    padding-right: 3px;
}

.forksContainer{
    margin-top: 20%;
}

.hoverEmojis:hover{
    color: var(--green)
}

.repoDescription{
    padding: 0 0 2% 10%;
    
}

@keyframes star-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } 