.headerContainer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.gitHubLogo {
  height: 100%;
  text-align: center;
  font-size: 4rem;
  margin: 0.5% 0 0 2%;
}

.formContainer{
  margin-right: 5%;
}

.searchBar {
  height: 3vh;
  margin-top: 1%;
  border-radius: 80px;
  border: 1px solid;
  font-size: 1.2em;
  padding: .5%;
  display: flex;
  justify-content: flex-end;
}
